<app-navbar></app-navbar>

<div class="w-full mx-auto px-6">
    <div class="lg:flex -mx-6">
        <div id="sidebar"
            class="hidden fixed z-10 inset-0 font-thin text-sm pt-16 h-full bg-white z-90 w-full border-b -mb-16 lg:-mb-0 lg:static lg:h-auto lg:overflow-y-visible lg:border-b-0 lg:pt-0 lg:w-1/5 lg:block lg:border-0 xl:w-1/6 bg-gray-200">
            <app-sidebar></app-sidebar>
        </div>
        <div id="content-wrapper"
            class="min-h-screen w-full lg:static lg:max-h-full lg:overflow-visible lg:w-4/5 xl:w-5/6">
            <div id="content" class="font-thin text-sm">
                <div class="pt-10 px-6 mx-auto">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>