<div class="w-full pt-10">
    <div class="text-left">
        <a routerLink="/employees" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded">
            Back
        </a>
    </div>
    <hr class="pt-2 border-b border-gray-200">
</div>

<div class="pt-10 pb-16 lg:pt-28 w-full">

    <div class="mb-6 -mt-6">
        <div class="text-xl font-bold text-gray-700">Add Employee</div>
    </div>

    <form class="w-full max-w-lg" [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="first-name">
                    First Name
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="first-name" formControlName="first_name" type="text" required
                    [ngClass]="{ 'border-red-500': submitted && form.first_name.errors }">
                <div *ngIf="submitted && form.first_name.errors">
                    <p *ngIf="form.first_name.errors.required" class="text-red-500 text-xs italic">Please fill out
                        this field.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="last-name">
                    Last Name
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="last-name" formControlName="last_name" type="text" required
                    [ngClass]="{ 'border-red-500': submitted && form.last_name.errors }">
                <div *ngIf="submitted && form.last_name.errors">
                    <p *ngIf="form.last_name.errors.required" class="text-red-500 text-xs italic">Please fill out
                        this field.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="date-join">
                    Date Join
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="date-join" formControlName="date_join" type="date"
                    [ngClass]="{ 'border-red-500': submitted && form.date_join.errors }">
                <div *ngIf="submitted && form.date_join.errors">
                    <p *ngIf="form.date_join.errors.required" class="text-red-500 text-xs italic">Please fill out this
                        field.</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="date-left">
                    Date Left
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="date-left" formControlName="date_left" type="date">
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="working-hours">
                    Working Hours Per Day
                </label>
                <input
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-2 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    id="working-hours" formControlName="working_hours" type="text" placeholder="00:00:00"
                    [ngClass]="{ 'border-red-500': submitted && form.working_hours.errors }">
                <div *ngIf="submitted && form.working_hours.errors">
                    <p *ngIf="form.working_hours.errors.required" class="text-red-500 text-xs italic">Please fill out this
                        field.</p>
                </div>
                <div *ngIf="submitted && form.working_hours.errors">
                    <p *ngIf="form.working_hours.errors.pattern" class="text-red-500 text-xs italic">Invalid time format. E.g - 00:00:00</p>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-3 mb-6 md:mb-0">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="employee-status">
                    Status
                </label>
                <div class="relative">
                    <select
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="status" formControlName="status">
                        <option *ngFor="let status of statusList" [ngValue]="status">
                            {{ status.value }}
                        </option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                            </svg>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="-mx-3 mb-6">
            <div class="text-right">
                <button type="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>